@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,700;1,700&display=swap');

$red: rgb( 246,74,74);
$orange: rgb(251,124,88);
$yellow: rgb(248,205,101);
$neonGreen: rgb(154,255,175);
$almostWhite: rgb(230,229,234);
$grey: rgb(128,124,146);
$darkGrey: rgb(36,35,44);
$veryDarkGrey: rgb(24,23,31);

@mixin headingL{
    font-family: "JetBrains Mono", monospace;
    font-size: 32px;
    line-height: 43px;
}
@mixin headingM{
    font-family: "JetBrains Mono", monospace;
    font-size: 24px;
    line-height: 31px;
}
@mixin bodyText{
    font-family: "JetBrains Mono", monospace;
    font-size: 18px;
    line-height: 23px;
}

html{
    padding: 0;
    margin: 0;
    background-color: $veryDarkGrey;
}
body{
    padding: 0;
    margin: 0;
}
.container{
    height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @include bodyText();

    color: $almostWhite;
}

.generator{
    width: 540px;
}

.title{
    @include headingM();
    text-align: center;

    margin-bottom: 31px;

    color: $grey;
}

.password{
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 19px 32px;
    margin-bottom: 24px;

    background-color: $darkGrey;
}

.config{
    padding: 32px;
    background-color: $darkGrey;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.length{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    justify-content: space-between;
    align-items: center;

    position: relative;
}

.checkContainer{
    display: flex;
    align-items: center;
    gap: 18px;
}

.checkbox{
    height: 20px;
    width: 20px;
    appearance: none;
    border: 2px solid $almostWhite;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;

    &::after{
        content: url(./icons/icon-check.svg);
        display: none;
        height: 10px;
    }

    &:checked{
        background-color: $neonGreen;
        border: 0;

        &::after{
            display: block;
        }
    }

    &:hover{
        border-color: $neonGreen;
    }
}

.strength{

    &-component{
        background-color: $veryDarkGrey;
        display: flex;
        justify-content: space-between;
        align-items: center;

        padding: 10px 32px;
        margin-bottom: 12px;
        margin-top: 18px;
    }

    &-label{
        color: $grey
    }
    
    &-indicator{
        @include headingM();
        display: flex;
        align-items: center;
        gap: 10px;
    }

    &-bars{
        display: flex;
        gap: 10px;

        & *{
            height: 28px;
            width: 10px;
            box-shadow: inset 0 0 0 2px $almostWhite;
        }
    }

    &-text{
        margin: 0;
    }
}

.red{
    background-color: $red;
    box-shadow: none;
}

.orange{
    background-color: $orange;
    box-shadow: none;
}

.yellow{
    background-color: $yellow;
    box-shadow: none;
}

.green{
    background-color: $neonGreen;
    box-shadow: none;
}

.noPasswd{
    display: flex;
}

.veryWeakPasswd{
    display: none;
}
.weakPasswd{
    display: none;
}

.mediumPasswd{
    display: none;
}

.strongPasswd{
    display: none;
}

#submit{
    @include bodyText();
    background-color: $neonGreen;
    padding: 21px;
    cursor: pointer;
    border: 0;

    &:hover{
        background-color: transparent;
        color: $neonGreen;
        box-shadow: inset 0 0 0 2px $neonGreen;
    }
}

#length {
    grid-column: span 3;
    margin-bottom: 12px;
    appearance: none;
    background-color: $veryDarkGrey;
    height: 8px;
    margin-bottom: 20px;

    &::-webkit-slider-thumb {
        appearance: none;
        height: 28px;
        width: 28px;
        border-radius: 50%;
        background: $almostWhite;
        position: relative;
        z-index: 2;
        cursor: pointer;
    }

    &:hover{
        &::-webkit-slider-thumb {
            appearance: none;
            height: 28px;
            width: 28px;
            border-radius: 50%;
            background: $veryDarkGrey;
            box-shadow: inset 0 0 0 2px $neonGreen
        }
    }
}

#lengthValue{
    @include headingL();
    color: $neonGreen;
    margin-left: auto;
    margin-top: 0;
    margin-bottom: 0;
}

#copy{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: $neonGreen;
}

#copyText{
    background-color: transparent;
    display: none;
    opacity: 0;
    margin: 0;
    transition: opacity 1s ease-in-out;
}

#copyIcon{
    fill: $neonGreen;
}

#copyIcon:hover{
    fill: white;
}

#password-string{
    @include headingL();
    pointer-events: none;
    color: none;
    background-color: transparent;
    border: 0;
    resize: none;
    overflow-y: hidden;

    color: $almostWhite;
}

#progressBar{
    width: 0%;
    height: 6px;
    background-color: $neonGreen;
    position: absolute;
    bottom: 35px;
    left: 2px;
    z-index: 1;
}

@media screen and (max-width: 375px) {
    .generator {
        width: 343px;
    }
    
    .generator, .password, .length, .strength-component {
        padding: 0 16px;
    }
    
    .container{
        padding: 50px;
    }

    .config{
        padding: 16px;
    }

    body{
        width: 375px;
    }

    #submit {
        padding: 16px 21px;
    }

    #progressBar{
        left: 17px;
        bottom:47px;
        max-width: 250px;
    }
}

@media screen and (max-width: 768px) and (min-width: 375px) {
    .generator {
        width: 540px;
    }
}